/* static/style.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    border: 2px solid #000; /* Black border */
    border-bottom: 8px solid #28a745; /* Green border at the bottom */
}

.section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #343a40;
    text-align: center;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 15px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #218838;
}

/* Responsive layout adjustments */
@media (min-width: 768px) {
    .section {
        display: flex;
        justify-content: space-between;
    }

    .section div {
        width: 48%;
    }
}
